#!/bin/bash

# environment variables
export EDITOR=nvim
export XDG_CONFIG_HOME="/home/rob/.config"

# added this 2016-06-18 in response to error: $ systemctl --user status
# Failed to connect to bus: No such file or directory
# https://answers.launchpad.net/ubuntu/+source/systemd/+question/287454
export XDG_RUNTIME_DIR=/run/user/`id -u`
